<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR code</title>
  </head>
  <body>
    <div class="title">
      <h1>QR Code Generator</h1>
      <h2>Insert a link bellow to generate a QR Code</h2>
    </div>
    <form action="/" method="POST">
      <input type="text" name="link" />
      <button type="submit">Generate QR</button>
    </form>
    {% if data %}
    <div class="generated">
      <img src="{{data}}" alt="" />
      {% endif%}
    </div>
  </body>
</html>
